<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#c8e1c3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="/">
                                <h3 class="widget-title mb-5">PERFECT HOME</h3>
                            </a>
                            <p class="short-desc mb-2">Đồng hành cùng không gian làm việc của bạn. </p>

                        </div>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    Trung tâm 125, Liên Bảo, Vĩnh Yên, Vĩnh Phúc
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://info@example.com">Vanhaoqb146@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">THÔNG TIN</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">FAQs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Giao hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Đổi trả</a>
                            </li>
                            <li>
                                <a href="/lien-he">Liên hệ</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Khuyến mại</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">TÀI KHOẢN</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="/taikhoan">Tài khoản của tôi</a>
                            </li>
                            <li>
                                <a href="/taikhoan">Đơn hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">PERFECT HOME luôn bên bạn.</h3>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/vovan.hao.7" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>

                        <p class="short-desc">
                            PERFECT HOME tự hào đem đến các sản phẩm nội thất mới nhất với giá tốt nhất VN.
                            Sự hài lòng của bạn là hạnh phúc của chúng tôi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#4099a1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© 2025 Văn Hào - Thanh Bình</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('scroll', function () {
        const footer = document.querySelector('.footer-area');
        const footerPosition = footer.getBoundingClientRect().top;
        const screenPosition = window.innerHeight;

        if (footerPosition < screenPosition) {
            footer.classList.add('visible');
        }
    });
</script>
