<div class="harmic-offcanvas-body">
    <div class="minicart-content">
        <div class="minicart-heading">
            <h4 style="font-family:Verdana" class="mb-0">Giỏ hàng</h4>
            <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
        </div>
        <div class="minicart-empty">
            <p>Giỏ hàng của bạn đang trống</p>
        </div>
    </div>
    <div class="group-btn_wrap d-grid gap-2">
        <a href="/" class="btn btn-secondary btn-primary-hover">Tiếp tục mua hàng</a>
    </div>
</div>